<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<title>ProjetSI4</title>
	</head>
	<body>
		<h3>Listes des Adherent</h3>
		<hr/>
		<div class="row">
			<div class="col-md-1"></div>
			<table class ="table">
			<thead>
				<tr>
					<th scope="col">idAdherant</th>
					<th scope="col">Email</th>
					<th scope="col">Mdp</th>
				</tr>
			</thead>
			{% for unAdherant in Adherant %}
			
			<tbody>
					<tr>
						<td> {{ unAdherant['idAdherant'] }} </td>
						<td> {{ unAdherant[ 'Email' ]}} </td>
						<td> {{ unAdherant[ 'mdp' ]}} </td>
					</tr>
			</tbody>
			{% endfor %}   
		  </table>  
	</body>


</html>
